#work-wrapper{
    width: 100%;
    height: 100vh;
    background: url(../images/black_lozenge.webp);
}
.work{
    width: 75%;
    margin: auto;
}
.work h1{
    font-size: 42px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
#card-wrapper{
    display: inline-block;
    height: 254px;
    padding-top: 2px;
    border-radius: 15px;
    margin: 25px;
    width: 324px;
    background-image:linear-gradient(90.01deg,#ffb21d -42.68%,#ed5572 61.01%,#6284ff 146.51%);
    box-shadow: 1px -1px 60px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px -1px 60px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px -1px 60px 0px rgba(0,0,0,0.75);
}
.left{
    float: left;
}
.left .card{
    margin-left:2px;
}
p.lang{
    font-size: 12px;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: 300;
    margin: 0;
}
h1.title{
    padding-top: 5px;
    margin: 0;
    font-size: 24px;
    padding-left: 15px;
    text-align: left;
    font-weight: 700;
}
p.desc{
    padding-top: 5px;
    margin: 0;
    font-size: 16px;
    padding-left: 15px;
    text-align: left;
    font-weight: 700;
}
.card{
    margin: auto;
    height: 250px;
    width: 320px;
    background-color: #1d1d1d;
    border-radius: 15px;
}